# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Django migrations except __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Database
*.sqlite3

# VSCode settings
.vscode/

# Environment variables
.env
